name: Build Airflow Image

on:
  push:
    paths:
      - .github/workflows/airflow-image.yaml
      - docker/**

jobs:
  build_and_push:
    name: Build and push docker container
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: nais/docker-build-push@v0
        with:
          team: virksomhetsdatalaget
          dockerfile: docker/Dockerfile
          docker_context: docker
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
